<div id="notificationDropdown"
    class="hidden absolute top-18 right-2 mt-2 w-80 origin-top-right bg-white border border-gray-200 divide-y divide-gray-200 rounded-lg shadow-lg z-20">
        <div class="px-4 py-2 font-semibold text-gray-700 flex justify-between items-center">
          <p>Notifications</p>
          <button class="float-right text-xs text-blue-600 hover:text-blue-800 hover:underline cursor-pointer">Mark all as read</button>
        </div>

        <ul class="max-h-80 overflow-y-auto">
          <li class="flex px-4 py-3 hover:bg-gray-50 cursor-pointer">
            <span class="flex-shrink-0 w-8 h-8 rounded-full bg-blue-100 flex items-center justify-center mr-3">
              <!-- Icon -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
              </svg>

            </span>
            <div class="flex-1">
              <p class="text-sm font-medium text-gray-900">David Miller published a course Math 101</p>
              <p class="text-xs text-gray-500">2 mins ago</p>
            </div>
          </li>

          <li class="flex px-4 py-3 hover:bg-gray-50 cursor-pointer">
            <span class="flex-shrink-0 w-8 h-8 rounded-full bg-blue-100 flex items-center justify-center mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
            </span>
            <div class="flex-1">
              <p class="text-sm font-medium text-gray-900">Emma Wilson drafted a course Data Science</p>
              <p class="text-xs text-gray-500">20 minutes ago</p>
            </div>
          </li>

          <li class="flex px-4 py-3 hover:bg-gray-50 cursor-pointer">
            <span class="flex-shrink-0 w-8 h-8 rounded-full bg-yellow-100 flex items-center justify-center mr-3">
                <svg class="size-4" fill="none" viewBox="0 0 20 20" stroke-width="1.5" stroke="currentColor">
                  <path
                    d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3z"
                  />
                </svg>
            </span>
            <div class="flex-1">
              <p class="text-sm font-medium text-gray-900">Bob Smith enrolled Advanced Javascript course.</p>
              <p class="text-xs text-gray-500">1 hour ago</p>
            </div>
          </li>
        </ul>

        <div class="px-4 py-2 text-sm text-center text-blue-600 hover:text-blue-800 hover:underline cursor-pointer">
          View all notifications
        </div>
  </div>
